# Apply YOLO style Model For OCR

## An effectient one-shot deep detwork for OCR

After some searching, I didn't find any dataset with image+character label+ single char level bounding box。

So the most direct solution: Create a scene text detection data generator

In [1]:
from torch.utils.data import dataset
from torch.utils.data import DataLoader
from constant import *
import numpy as np

from PIL import Image

### Texted image generator

In [2]:
from glob import glob
from PIL import Image
from PIL import ImageFont
from PIL import ImageDraw 
import os

In [4]:
rg_n,rg_l,rg_u,rg_c,

((0, 10), (10, 36), (36, 62), (62, 3566))

In [5]:
len(chars)

3566

In [6]:
from glob import glob
from PIL import Image
from PIL import ImageFont
from PIL import ImageDraw 
import os

fonts=glob("/data/fonts_cn/*")

def rd(scale,start=0):
    return int(np.random.rand()*scale)+start

def rd_font(size):
    return ImageFont.FreeTypeFont(fonts[rd(len(fonts))],size)

class Make_Char(dataset.Dataset):
    def __init__(self,**kwargs):
        """
        kwargs
        img_dir
        forge_dir
        """
        super(Make_Char,self).__init__()
        for k, v in kwargs.items():
            setattr(self, k, v)
        if self.img_dir[-1]!="/":
            self.img_dir+="/"
        if self.forge_dir[-1]!="/":
            self.forge_dir+="/"
        self.img_list = glob(self.img_dir+"*")
        self.df_dicts = [dict()]*len(self.img_list)
        
    def __len__(self):
        return len(self.img_list)
    
    def __getitem__(self, idx):
        fn_id = self.img_list[idx].split("/")[-1]
        fn = self.id2url(fn_id)
        img = Image.open(fn).convert("RGB").resize((WIDTH,HEIGHT))
        draw = ImageDraw.Draw(img)
        nb_ttl = rd(10,15)
        bbox=list()
        category_id=list()
        for nb,rg in zip([.4,.2,.2,.2],[rg_n,rg_l,rg_u,rg_c]):
            nb_ = int(nb*nb_ttl)
            bbox_,cateid_=self.write_char(draw,nb_,rg)
            bbox += bbox_
            category_id += cateid_
        filename=[fn_id]*len(category_id)
        self.df_dicts[idx] = pd.DataFrame({"bbox":bbox,"filename":filename,"image_id":filename,"category_id":category_id})
        img.save(self.forge_dir+fn_id)
        return 0
        
    def id2url(self, filename):
        return self.img_dir + filename
    
    def write_char(self,draw,nb_c,rg):
        bbox =list()
        category_id =list()
        for i in range(nb_c):
            scale = rd(30,20)
            x,y=rd(WIDTH - scale), rd(HEIGHT - scale)
            f_color = (rd(255),rd(255),rd(255),rd(200,50))
            ft = rd_font(rd(30)) # font
            cate_id = np.random.choice(range(rg[0],rg[1]))
            txt = chars[cate_id]
            f_size = ft.getsize(text=txt)
            
            draw.text((x,y),txt,f_color,font=ft)
            
            bbox.append([x,y,f_size[0],f_size[1]])
            category_id.append(cate_id)
            
        return bbox,category_id

In [7]:
%rm /data/forge/char_detect/*
mc = Make_Char(img_dir = "/data/coco/val2017/",forge_dir="/data/forge/char_detect/")
dl = DataLoader(mc,batch_size=4,shuffle=True)
mc_gen=iter(dl)

from tqdm import trange
t=trange(len(dl))
for i in t:_ = next(mc_gen)

rm: /data/forge/char_detect/*: No such file or directory

100%|██████████| 1250/1250 [07:25<00:00,  2.81it/s]

In [10]:
pd.concat(mc.df_dicts,axis=0)

                  bbox  category_id          filename          image_id
0    [250, 210, 7, 12]            8  000000000139.jpg  000000000139.jpg
1   [248, 154, 19, 35]            2  000000000139.jpg  000000000139.jpg
2     [13, 253, 5, 13]            5  000000000139.jpg  000000000139.jpg
3   [237, 178, 11, 17]            1  000000000139.jpg  000000000139.jpg
4    [95, 231, 11, 25]            5  000000000139.jpg  000000000139.jpg
5     [225, 103, 4, 7]            4  000000000139.jpg  000000000139.jpg
6    [106, 225, 5, 16]           19  000000000139.jpg  000000000139.jpg
7   [152, 242, 17, 35]           22  000000000139.jpg  000000000139.jpg
8     [25, 183, 9, 30]           26  000000000139.jpg  000000000139.jpg
9     [152, 121, 6, 9]           51  000000000139.jpg  000000000139.jpg
10     [137, 68, 2, 3]           59  000000000139.jpg  000000000139.jpg
11      [60, 73, 3, 4]           50  000000000139.jpg  000000000139.jpg
12    [46, 19, 19, 23]         2676  000000000139.jpg  000000000139.jpg
13      [48, 66, 8, 8]         3087  000000000139.jpg  000000000139.jpg
14   [289, 88, 19, 20]         1872  000000000139.jpg  000000000139.jpg
0     [13, 43, 16, 29]            8  000000000285.jpg  000000000285.jpg
1      [148, 51, 3, 7]            2  000000000285.jpg  000000000285.jpg
2    [21, 187, 10, 23]            7  000000000285.jpg  000000000285.jpg
3    [279, 90, 14, 21]            1  000000000285.jpg  000000000285.jpg
4    [116, 259, 5, 10]            4  000000000285.jpg  000000000285.jpg
5   [136, 178, 16, 29]            2  000000000285.jpg  000000000285.jpg
6     [1, 209, 11, 29]           35  000000000285.jpg  000000000285.jpg
7      [21, 169, 1, 1]           18  000000000285.jpg  000000000285.jpg
8      [120, 29, 2, 3]           17  000000000285.jpg  000000000285.jpg
9   [117, 159, 10, 15]           42  000000000285.jpg  000000000285.jpg
10  [241, 169, 18, 22]           61  000000000285.jpg  000000000285.jpg
11  [118, 246, 12, 18]           42  000000000285.jpg  000000000285.jpg
12    [250, 209, 5, 5]         3490  000000000285.jpg  000000000285.jpg
13      [90, 30, 2, 3]         2374  000000000285.jpg  000000000285.jpg
14     [5, 74, 17, 20]          651  000000000285.jpg  000000000285.jpg
..                 ...          ...               ...               ...
0    [88, 222, 14, 33]            7  000000581615.jpg  000000581615.jpg
1       [208, 4, 2, 5]            0  000000581615.jpg  000000581615.jpg
2    [237, 114, 9, 26]            8  000000581615.jpg  000000581615.jpg
3     [222, 30, 6, 10]            3  000000581615.jpg  000000581615.jpg
4   [142, 245, 10, 16]            0  000000581615.jpg  000000581615.jpg
5     [60, 198, 7, 15]            6  000000581615.jpg  000000581615.jpg
6     [156, 243, 4, 8]           31  000000581615.jpg  000000581615.jpg
7    [124, 179, 9, 21]           17  000000581615.jpg  000000581615.jpg
8    [32, 136, 10, 24]           16  000000581615.jpg  000000581615.jpg
9      [21, 209, 3, 6]           54  000000581615.jpg  000000581615.jpg
10    [103, 176, 6, 7]           58  000000581615.jpg  000000581615.jpg
11  [173, 195, 18, 26]           39  000000581615.jpg  000000581615.jpg
12  [270, 136, 18, 20]         1568  000000581615.jpg  000000581615.jpg
13    [172, 9, 20, 19]         1346  000000581615.jpg  000000581615.jpg
14   [87, 130, 33, 37]         3372  000000581615.jpg  000000581615.jpg
0    [223, 251, 5, 14]            2  000000581781.jpg  000000581781.jpg
1     [150, 115, 3, 9]            8  000000581781.jpg  000000581781.jpg
2    [270, 214, 6, 16]            6  000000581781.jpg  000000581781.jpg
3     [60, 67, 12, 41]            7  000000581781.jpg  000000581781.jpg
4      [91, 8, 12, 22]            3  000000581781.jpg  000000581781.jpg
5    [72, 237, 14, 26]            1  000000581781.jpg  000000581781.jpg
6     [165, 225, 2, 6]           24  000000581781.jpg  000000581781.jpg
7     [286, 179, 4, 6]           23  000000581781.jpg  000000581781.jpg
8     [192, 173, 5, 9]           24  000000581781.jpg  000000581781.jpg
9    [112, 170, 6, 15]           45  000000581781.jpg  000000581781.jpg
10  [129, 227, 10, 28]           45  000000581781.jpg  000000581781.jpg
11    [60, 20, 13, 22]           60  000000581781.jpg  000000581781.jpg
12  [189, 112, 10, 12]         3530  000000581781.jpg  000000581781.jpg
13    [247, 48, 8, 10]         3141  000000581781.jpg  000000581781.jpg
14     [150, 44, 6, 6]         2266  000000581781.jpg  000000581781.jpg

[89351 rows x 4 columns]